/* LINKS */

a {
	color: #5c9199;
}

a:link {
	text-decoration:none;
}

a:visited {
	text-decoration:none;
}

a:hover {
	text-decoration:none;
	color: #365459;
}

a:active {
	text-decoration:none;
}

/* OTHER ELEMENTS */

hr {
	border-color: #d7d7d7;
}

ul {
	-webkit-padding-start: 0px !important;
	-webkit-margin-before: 0px !important;
	-webkit-margin-after: 0px !important;
}

ul li {
	list-style-type: none;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* HEADER */

header {
	margin-top: 30px;
	text-align: center;
}

header h1 {
	font-size: 40px;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 26px;
}

header h2 {
	font-size: 15px;
}

header small {
	font-size: 13px;
}

header hr {
	width: 45%;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* MAIN */

#main {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
	padding: 20px;
}

/* POSTS */

.post-list {
	padding-top: 1em;
	padding-bottom: 1rem;
	text-align: left;
}

.post {
	padding-top: 1rem;
	padding-bottom: 5rem;
}

.post-title {
	font-size: 40px;
	font-weight: lighter;
	letter-spacing: 1px;
	margin: 0px;
}

.post-subtitle {
	font-size: 30px;
	font-weight: bolder;
	margin: 0rem 0rem 1.5rem 0rem;
}

.post-date {
	font-weight: bolder;
	font-size: 1.5rem;
	color: #666666;
	margin: 0px;
}

.post-excerpt {
	text-align: left;
	line-height: 2.5rem;
}

.post-continue {
	color: #8FAEB3;
}

.post-continue a {
	color: #8FAEB3;
	border-bottom: 1px dotted #8FAEB3;
    text-decoration: none;
}

.post-continue :hover {
	color: #365459;
}

/* FOOTER */

#hblogo {
	width: 22px;
	height: 22px;
	margin-bottom: 10px;
}

/* CUSTOM CLASSES */

.center { 
	float: none; 
	margin-left: auto; 
	margin-right: auto; 
	display: block;
	text-align: center;
}
