---
# front matter comment to ensure jekyll properly reads file
---

$font-brand: 'Ubuntu Mono', Arial, sans-serif;

$color-bg: #ffffff;

$color-gray: #444;

$color-brand: #3a98a6;
$color-brand-bright: #47bacc;
$color-brand-dark: #1f5259;

$color-code: #c7254e;
$color-code-bg: #f8f9fa;

@import "common";
@import "media-queries";
@import "pages";
@import "post-list";
