/* COMMON ELEMENTS */

body {
   background-color: #ffffff;
   padding: 3rem 0rem 3rem 0rem;
}

body p {
   line-height: 2.5rem;
   padding: 0.5rem 0rem 0.5rem 0rem;
}

hr {
   border-color: #d7d7d7;
   width: 50%;
}

h1 > code,
h2 > code,
h3 > code {
   background-color: #ffffff;
   font-weight: bolder;
}

.center {
   float: none;
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
}

.btn-default {
   color: #444444;
}

a > code {
  border-bottom: 1px dotted #c7254e;
}

/* LINKS */

a {
   color: #31808c;
}

a:link {
   border-bottom: 1px dotted #31808c;
}

a:visited {
   border-bottom: 0px none #31808c;
}

a:hover {
   color: #47bacc;
   text-decoration: none;
}

a:active {
   text-decoration:none;
}

h1 > a:link {
   border-width: 0px;
}

.tagline a,
.tagline a:link,
footer a,
footer a:link {
   color: #666666;
   border-bottom: 1px dotted #666666;
}

.tagline a:hover,
footer a:hover,
a.post-continue:hover {
   color: #47bacc;
   border-color: #47bacc;
}

a.post-continue {
   color: #666666;
   border-width: 0px;
}

.subscribe a,
.subscribe a:visited {
   color: #444444;
}

/* HEADER */

header, .tagline, header code {
   text-align: center;
   color: #444444;
}

header h1 {
   font-size: 50px;
   font-weight: normal;
   font-family: 'Ubuntu Mono', 'Arial';
   display: inline-block;
}

header h2 {
   font-size: 14px;
   line-height: 19px;
   margin: 0rem 0rem 1rem 0rem;
   display: inline-block;
}

.subscribe ul {
   -webkit-padding-start: 0px !important;
   -webkit-margin-before: 0px !important;
   -webkit-margin-after: 0px !important;
}

.subscribe ul li {
   display: inline-block;
   padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* POST LIST */

.post {
   padding-top: 2rem;
   padding-bottom: 2rem;
}

.post-title {
   font-size: 42px;
   font-weight: lighter;
}

.post-subtitle {
   color: #444444;
   font-size: 26px;
   font-weight: normal;
   margin-top: 0rem;
}

.post-date {
   color: #666666;
   display: inline-block;
}

.pagination {
   display: block;
   margin-bottom: 0rem;
}

.pager {
   margin-top: 0rem;
   padding-top: 0rem;
}

/* PAGES */

a.btn,
a:visited.btn,
a:link.btn {
   color: #666666;
   border: 1px solid #ccc;
}

.sharing {
   margin: 5rem 0.5rem 0.5rem 0.5rem;
}

.footnotes ul {
   list-style-type: none;
   -webkit-padding-start: 0px !important;
   -webkit-margin-before: 0px !important;
   -webkit-margin-after: 0px !important;
}

.footnotes a, sup a:link {
   border-width: 0px;
}

blockquote {
   color: #555;
}

/* MEDIA QUERIES */

@media (max-width: 320px) {
   body {
      padding-top: 1rem;
   }

   header h1 {
      font-size: 42px;
   }
}

@media (max-width: 667px) {
   body {
      padding-top: 1rem;
   }

   header h2 {
      font-size: 13px;
   }
}

/* BUTTONS */

.btn-subscribe {
  color: #ffffff;
  background-color: #31808C;
  border-color: #47bacc;
}

.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active,
.btn-subscribe.active,
.open .dropdown-toggle.btn-subscribe {
  color: #ffffff;
  background-color: #47BACC;
  border-color: #47bacc;
}

.btn-subscribe:active,
.btn-subscribe.active,
.open .dropdown-toggle.btn-subscribe {
  background-image: none;
}

.btn-subscribe.disabled,
.btn-subscribe[disabled],
fieldset[disabled] .btn-subscribe,
.btn-subscribe.disabled:hover,
.btn-subscribe[disabled]:hover,
fieldset[disabled] .btn-subscribe:hover,
.btn-subscribe.disabled:focus,
.btn-subscribe[disabled]:focus,
fieldset[disabled] .btn-subscribe:focus,
.btn-subscribe.disabled:active,
.btn-subscribe[disabled]:active,
fieldset[disabled] .btn-subscribe:active,
.btn-subscribe.disabled.active,
.btn-subscribe[disabled].active,
fieldset[disabled] .btn-subscribe.active {
  background-color: #31808C;
  border-color: #47bacc;
}

.btn-subscribe .badge {
  color: #31808C;
  background-color: #ffffff;
}
