.DS_Store

# ruby
.bundle/
vendor/bundle

# jekyll
.jekyll-cache
.jekyll-metadata
.sass-cache
_site/

# swift playgrounds
xcuserdata/
*.xcworkspace/xcshareddata

# ignore all extra node_modules dependency files
# only keep necessary source (not entire project repos)
# -----------------------------------------------------

# bootstrap
node_modules/bootstrap/*

# bootstrap js
!node_modules/bootstrap/dist/
node_modules/bootstrap/dist/*
!node_modules/bootstrap/dist/js
node_modules/bootstrap/dist/js/*
!node_modules/bootstrap/dist/js/bootstrap.min.js
!node_modules/bootstrap/dist/js/bootstrap.min.js.map

# bootstrap scss
!node_modules/bootstrap/scss

# popper (via bootstrap)
node_modules/@popperjs/

# bootstrap icons
node_modules/bootstrap-icons/*
!node_modules/bootstrap-icons/font
node_modules/bootstrap-icons/font/*
!node_modules/bootstrap-icons/font/bootstrap-icons.min.css
!node_modules/bootstrap-icons/font/fonts
