---
layout: standalone
title: Writing
---

<p>
I mostly write about Swift, Objective-C, iOS, open source, and other software development topics.
Sometimes I write about the ethics of tech, labor, and politics.
I also write personal essays and notes on what I'm currently reading.
Looking for something specific? You can <a href="/blog/tags">view posts by tag</a>, or <a href="/search">search this site</a>.
And don't forget to <a href="/subscribe">subscribe</a>.
</p>

<!-- categories: software-dev, essays, reading-notes -->

<div class="my-4">
<nav>
<div class="nav nav-pills" id="nav-tab" role="tablist">
    <a class="nav-item nav-link border-0 px-4 active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">
        <i class="fa fa-bookmark" aria-hidden="true"></i> all
    </a>
    <a class="nav-item nav-link border-0 px-4" id="nav-software-dev-tab" data-toggle="tab" href="#nav-software-dev" role="tab" aria-controls="nav-software-dev" aria-selected="false">
        <i class="fa fa-code" aria-hidden="true"></i> software dev
    </a>
    <a class="nav-item nav-link border-0 px-4" id="nav-essays-tab" data-toggle="tab" href="#nav-essays" role="tab" aria-controls="nav-essays" aria-selected="false">
        <i class="fa fa-pencil" aria-hidden="true"></i> essays
    </a>
    <a class="nav-item nav-link border-0 px-4" id="nav-reading-notes-tab" data-toggle="tab" href="#nav-reading-notes" role="tab" aria-controls="nav-reading-notes" aria-selected="false">
        <i class="fa fa-book" aria-hidden="true"></i> reading notes
    </a>
</div>
</nav>
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
        {% for post in site.posts %}
        <article class="post-entry">
            {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
        </article>
        {% endfor %}
    </div>

    {% for category in site.categories %}
    <div class="tab-pane fade" id="nav-{{ category[0] }}" role="tabpanel" aria-labelledby="nav-{{ category[0] }}-tab">
        {% for post in category[1] %}
            <article class="post-entry">
                {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
            </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>
