---
layout: default
---

<div>
{% for post in paginator.posts %}
    <article class="post-entry">
        {% include post_entry.html post_entry=post include_excerpt=true %}
    </article>
{% endfor %}
</div>


<nav aria-label="Navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if paginator.next_page == nil %}disabled{% endif %}">
            <a href="{{ paginator.next_page_path }}" class="page-link" title="Older posts">
                <i class="fa fa-chevron-left"></i> Older
            </a>
        </li>
        <li class="page-item">
            <a href="/search" class="page-link" title="Search this site"><i class="fa fa-search"></i></a>
        </li>
        <li class="page-item">
            <a href="/archive" class="page-link" title="Blog Archive"><i class="fa fa-list"></i></a>
        </li>
        <li class="page-item {% if paginator.previous_page == nil %}disabled{% endif %}">
            <a href="{% if paginator.page != 2 %} {{ paginator.previous_page_path }} {% else %} / {% endif %}" class="page-link" title="Newer posts">
                Newer <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</nav> <!-- Navigation -->
