---
layout: standalone
title: Writing by tag
permalink: /blog/tags
---

{% include blog_subscribe.html %}

<div class="mb-4">
    <nav>
    <div class="nav nav-pills" id="nav-tab" role="tablist">
        <a class="nav-item nav-link border-0 active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">
            <small><i class="fa fa-tags" aria-hidden="true"></i> all</small>
        </a>

        {% assign sorted_tags = site.tags | sort %}
        {% for tag in sorted_tags %}
        <a class="nav-item nav-link border-0" id="nav-{{ tag[0] }}-tab" data-toggle="tab" href="#nav-{{ tag[0] }}" role="tab" aria-controls="nav-{{ tag[0] }}" aria-selected="false">
            <small><i class="fa fa-hashtag" aria-hidden="true"></i>{{ tag[0] }}</small>
        </a>
        {% endfor %}
    </div>
    </nav>
</div>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
        {% for post in site.posts %}
        <article class="post-entry">
            {% include post_entry.html post_entry=post display_excerpt=false display_categories=false display_tags=false %}
        </article>
        {% endfor %}
    </div>

    {% for tag in site.tags %}
    <div class="tab-pane fade" id="nav-{{ tag[0] }}" role="tabpanel" aria-labelledby="nav-{{ tag[0] }}-tab">
        {% for post in tag[1] %}
            <article class="post-entry">
                {% include post_entry.html post_entry=post display_excerpt=false display_categories=false display_tags=false %}
            </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>
