
<div class="container text-center contact-follow">
    <div class="row">
        <div class="col">
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                    <a href="{{ site.social_links.github }}" title="Follow me on Github"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.stackoverflow }}" title="StackOverflow"><i class="fa fa-lg fa-stack-overflow" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.twitter }}" title="Follow me on Twitter"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.linkedin }}" title="Connect with me on LinkedIn"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.keybase }}" title="Message me on Keybase"><i class="fa fa-lg fa-key" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="/feed.xml" title="Subscribe via RSS/atom"><i class="fa fa-lg fa-rss-square" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.applenews }}" title="Add to Apple News"><i class="fa fa-lg fa-apple" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="/pay" title="Send money"><i class="fa fa-lg fa-money" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="/search" title="Search"><i class="fa fa-lg fa-search" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
