
<div class="container text-center">
    <div class="row">
        <div class="col">
            <ul class="list-inline list-unstyled mb-1">
                <li class="list-inline-item">
                    <a href="{{ site.social_links.github }}" class="text-reset" title="GitHub">
                        <i class="fa fa-lg fa-github fa-fw" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.twitter }}" class="text-reset" title="Twitter">
                        <i class="fa fa-lg fa-twitter fa-fw" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="/subscribe" class="text-reset" title="Subscribe">
                        <i class="fa fa-lg fa-rss-square fa-fw" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="/sponsor" class="text-reset" title="Sponsor">
                        <i class="fa fa-lg fa-heart fa-fw" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="/privacy" class="text-reset" title="Privacy">
                        <i class="fa fa-lg fa-lock fa-fw" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="/search" class="text-reset" title="Search">
                        <i class="fa fa-lg fa-search fa-fw" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
