
<div class="container text-center">
    <div class="row">
        <div class="col">
            <ul class="list-inline list-unstyled">
                <li class="list-inline-item">
                    <a href="{{ site.social_links.github }}" class="text-dark border-0" title="Github"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.stackoverflow }}" class="text-dark border-0" title="StackOverflow"><i class="fa fa-lg fa-stack-overflow" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.twitter }}" class="text-dark border-0" title="Twitter"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.social_links.keybase }}" class="text-dark border-0" title="Keybase"><i class="fa fa-lg fa-key" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.feeds.rss }}" class="text-dark border-0" title="Subscribe via RSS"><i class="fa fa-lg fa-rss-square" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="{{ site.feeds.applenews }}" class="text-dark border-0" title="Add to Apple News"><i class="fa fa-lg fa-apple" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="/sponsor" class="text-dark border-0" title="Sponsor"><i class="fa fa-lg fa-heart" aria-hidden="true"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="/search" class="text-dark border-0" title="Search"><i class="fa fa-lg fa-search" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
