<footer class="container container-fluid">
   <hr>
    <p class="text-muted text-center"><small>
    <strong>Questions? Feedback? Corrections?</strong><br/>
    Open an <a href="{{ site.links.issue }}" target="_blank">issue</a> or
    submit a <a href="{{ site.links.pull }}" target="_blank">pull request</a>.<br/>
    &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.
    <a href="/archive" title="Post Archive">Archive</a>.
    This site is <a href="{{ site.links.github }}" target="_blank">open source</a>.
    </small></p>
</footer>
