
<footer class="container container-fluid pt-4 text-secondary">

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <ul class="list-inline list-unstyled mb-1">
                    {% for item in site.data.footerItems %}
                    {% if item.url %}
                        {% assign url = item.url %}
                    {% else %}
                        {% capture url %}{% link {{ item.page }} %}{% endcapture %}
                    {% endif %}
                    <li class="list-inline-item">
                        <a href="{{ url }}" rel="me" class="text-reset footer-icon" title="{{ item.title }}">
                            <i class="bi {{ item.icon }} px-1" role="img" aria-label="{{ item.title }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <p class="text-center mt-0 pt-0">
        <small>
            &copy; 2014-{{ site.time | date: '%Y' }} {{ site.author.name }}.
            This site is <a href="{{ site.data.github.repo }}" class="text-reset"><b>open source</b></a>.
        </small>
    </p>
</footer>
