
<header class="container">
	<div class="row">
		<div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
			<h1>Jesse Squires</h1>
			<h2>Software developer in San Francisco</h2>
			<hr>
			<div class="col-md-6 col-md-offset-3">
			<small class="text-muted">I write code at <a href="http://bit.ly/hexbitsTW" target="_blank">@hexedbits</a> and <a href="https://twitter.com/rosettastone" target="_blank">@rosettastone</a>. I am passionate about mobile computing and open-source.</small>
			</div> <!-- col -->
		</div> <!-- col -->
	</div> <!-- row -->
</header>
