
{% assign url_components = page.url | split:"/" %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand branded" href="/">[{{ site.title | downcase }}]</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item mx-1">
                    <a class="nav-link {% if url_components[1] == 'blog' %}active fw-bolder{% endif %}" href="/blog/">writing</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link {% if page.url == '/speaking/' %}active fw-bolder{% endif %}" href="/speaking/">speaking</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link {% if page.url == '/projects/' %}active fw-bolder{% endif %}" href="/projects/">projects</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link {% if page.url == '/subscribe/' %}active fw-bolder{% endif %}" href="/subscribe/">subscribe</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link {% if page.url == '/sponsor/' %}active fw-bolder{% endif %}" href="/sponsor/">sponsor</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link {% if page.url == '/linkedout/' %}active fw-bolder{% endif %}" href="/linkedout/">cv</a>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link {% if page.url == '/about/' %}active fw-bolder{% endif %}" href="/about/">about</a>
                </li>
            </ul>
        </div> <!-- navbar -->

    </div> <!-- container -->
</nav>

<header class="mb-4 bg-light">
    <p class="branded text-dark p-0 m-2">turing complete with a stack of <code class="text-dark">0xdeadbeef</code></p>
</header>
