<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.tags %}
    <meta name="keywords" content="{{ page.tags | sort | join: ', ' }}">
    {% endif %}

    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="&copy; 2014-{{ site.time | date: '%Y' }} {{ site.author.name }}">
    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }} &middot; {{ site.description }}
        {% endif %}
    </title>

    {% if page.image %}
        {% capture page_image %} {% link_absolute {{ page.image.file | img_url: 'blog' }} %} {% endcapture %}
    {% else %}
        {% capture page_image %} {% link_absolute {{ site.logo | img_url }} %} {% endcapture %}
    {% endif %}

    {% if page.title %}
        {% assign page_title = page.title %}
    {% else %}
        {% assign page_title = site.title %}
    {% endif %}

    {% if page.excerpt %}
        {% assign description = page.excerpt %}
    {% elsif page.description %}
        {% assign description = page.description %}
    {% else %}
        {% assign description = site.description %}
    {% endif %}

    {% capture page_description %} {{ description | normalize_whitespace | strip_html | truncatewords: 40 }} {% endcapture %}

    <!-- Open Graph -->
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{ page_image }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page_description }}"/>

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.author.twitter }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <meta name="twitter:image" content="{{ page_image }}">
    <meta name="twitter:title" content="{{ page_title }}">
    <meta name="twitter:description" content="{{ page_description }}">

    <link href="/font/ubuntuMono/ubuntuMono.css" rel="stylesheet">
    <link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    {% include favicons.html %}

    <link type="application/atom+xml" rel="alternate" href="{{ site.feeds.rss | absolute_url }}" title="{{ site.title }}">
    <link type="application/feed+json" rel="alternate" href="{{ site.feeds.json | absolute_url }}" title="{{ site.title }}">
</head>
