
<header class="container container-fluid">
   <div class="row">
      <div class="col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
         <h1><a href="/">{{ site.title }}</a></h1>
         <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <h2 class="tagline">&mdash; Turing complete with a stack of <code>0xdeadbeef</code>&mdash;</h2>
            <h2 class="tagline">Software developer in San Francisco. I'm passionate about mobile computing and open source. All views my own.</h2>
         </div> <!-- col -->
      </div> <!-- col -->
   </div> <!-- row -->

   <div class="row menu">
      <div class="col-md-12 col-sm-12 col-xs-12">
         <a class="btn btn-default" href="/">Blog</a>
         <a class="btn btn-default" href="/speaking/">Speaking</a>
         <a class="btn btn-default" href="/work/">Work</a>
         <a class="btn btn-default" href="/about/">About</a>
      </div> <!-- col -->
   </div> <!-- row -->
   <hr>
</header>
