
{% assign alt = include.alt %}
{% assign caption = include.caption %}
{% assign source_link = include.source_link %}
{% assign img_src = include.file | img_url: include.sub_directory %}

<div class="row">
    <div class="col"></div>
    <div class="d-flex justify-content-center col-12 {% if include.half_width %} col-sm-8 col-md-6 {% endif %}">
        <figure>
            <img class="img-thumbnail img-fluid"
                 src="{% link {{ img_src }} %}"
                 title="{{ alt }}"
                 alt="{{ alt }}"/>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                {% if caption %}
                    <figcaption>
                        <p><small class="text-muted text-center">
                            {{ caption }} {% if source_link %} / <a href="{{ source_link }}" target="_blank" rel="noreferrer">Source</a> {% endif %}
                        </small></p>
                    </figcaption>
                {% elsif source_link %}
                    <figcaption>
                        <p><small class="text-muted text-center">
                            <a href="{{ source_link }}" target="_blank" rel="noreferrer">Source</a>
                        </small></p>
                    </figcaption>
                {% endif %}
                </div>
            </div>
        </figure>
    </div>
    <div class="col"></div>
</div>
