<div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 center">
      <p><small class="text-muted"><b>Enjoy this article? Subscribe via email and never miss a post! No spam, ever.</b></small></p>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
         <form action="//jessesquires.us12.list-manage.com/subscribe/post?u=5230bf0236a0adb19995a2eb4&amp;id=faeceaf780"
               method="post"
               id="mc-embedded-subscribe-form"
               name="mc-embedded-subscribe-form"
               class="validate"
               target="_blank" novalidate>

               <div class="input-group">
                  <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="name@example.com">
                  <span class="input-group-btn clear">
                     <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="btn btn-subscribe">Subscribe</button>
                  </span>
               </div>

               <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
               </div>

               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_5230bf0236a0adb19995a2eb4_faeceaf780" tabindex="-1" value="">
               </div>
         </form>
      </div> <!-- mc_embed_signup -->
   </div> <!-- col -->
</div> <!-- row -->
