
{% assign base_edit_url = 'https://github.com/jessesquires/jessesquires.com/blob/master/_posts/' %}

{% assign file_name = page.url | remove: '/blog/' | slugify | append: '.md' %}

{% assign edit_url = base_edit_url | append: file_name %}

<div class="mt-4 pt-2 pb-2">
    <div class="row">
        <div class="col">
            <p class="text-muted text-center m-0 p-0"><small><b>Questions? Feedback? Corrections?</b></small></p>
            <p class="text-muted text-center m-0 p-0">
                <small>
                    Open an <a href="{{ open_issue_url }}" class="text-secondary" target="_blank" rel="noreferrer"><b>issue</b></a>,
                    submit a <a href="{{ site.links.pull }}" class="text-secondary" target="_blank" rel="noreferrer"><b>pull request</b></a>,
                    or <a href="{{ edit_url }}" class="text-secondary" target="_blank" rel="noreferrer"><b>edit</b></a> this post.
                </small>
            </p>
        </div> <!-- col -->
    </div> <!-- row -->
</div>
