{% assign tag = include.tag %}
{% assign topic = include.topic %}

{% assign post_list = site.tags[tag] %}

<div class="alert alert-primary pb-0">
    <h5><i class="bi bi-bookmark-star-fill"></i> In This Series</h5>
    <p class="pb-0 mb-2">This post is part of a series about <span class="fw-semibold">{{ topic }}</span>.</p>
    <ol>
    {% for each in post_list reversed %}
        <li class="fw-bold">
            {% if each.url == page.url %}
                <span class="fw-bold">{{ each.title }}</span>  <i class="bi bi-star-fill"></i>
            {% else %}
                <a href="{{ each.url }}" class="alert-link fw-normal">{{ each.title }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ol>
</div>
