
{% assign base_edit_url = site.data.github.repo | append: '/blob/master/_posts/' %}

{% assign file_name = page.url | remove: site.blog_url | slugify | append: '.md' %}

{% assign edit_url = base_edit_url | append: file_name %}

<div class="container mt-4 pt-4">
    <div class="row g-2">
        <div class="col-xs-1 col-md-2 col-lg-3"></div>

        <div class="col-xs-10 col-md-8 col-lg-6 bg-light rounded-3">
            <p class="text-center m-0 p-0 fw-bold">
                <small>
                    <a href="{% link sponsor.md %}" class="text-decoration-none">
                        <i class="bi bi-heart-fill"></i> Support My Work
                    </a>
                </small>
            </p>

            <p class="text-muted text-center fw-bold m-0 p-0">
                <small>Questions? Feedback? Corrections?</small>
            </p>

            <p class="text-muted text-center m-0 p-0">
                <small>
                    Open an <a href="{{ open_issue_url }}" class="text-secondary" target="_blank" rel="noreferrer"><b>issue</b></a>,
                    submit a <a href="{{ site.data.github.pull }}" class="text-secondary" target="_blank" rel="noreferrer"><b>pull request</b></a>,
                    or <a href="{{ edit_url }}" class="text-secondary" target="_blank" rel="noreferrer"><b>edit</b></a> this post.
                </small>
            </p>
        </div> <!-- col -->

        <div class="col-xs-1 col-md-2 col-lg-3"></div>
    </div> <!-- row -->
</div>
