<!--
Sources:
https://duckduckgo.com/search_box
https://muffinresearch.co.uk/adding-a-duckduckgo-search-box-to-your-blog/
-->

<div class="row justify-content-md-center my-2">
<div class="col-xs-12 col-sm-12 col-md-12">
    <form name="search" action="//duckduckgo.com/">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search" name="q">
            <input type="hidden" value="{{ site.url }}" name="sites">
            <input type="hidden" value="1" name="kh">
            <input type="hidden" value="1" name="kn">
            <input type="hidden" value="1" name="kac">
            <input type="hidden" value="1" name="kc">
            <button class="btn btn-primary text-light" type="submit">  <i class="bi bi-search" role="img" aria-label="Search"></i> </button>
        </div>
    </form>
</div>
</div>
