
<div class="row center subscribe">
   <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <nav>
         <ul class="pager">
            <li><a href="/feed.xml" title="Subscribe via RSS/atom"><i class="fa fa-lg fa-rss"></i></a></li>
            <li><a href="{{ site.social_links.twitter }}" title="Follow me on Twitter" target="_blank"><i class="fa fa-lg fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.social_links.github }}" title="Follow me on Github" target="_blank"><i class="fa fa-lg fa-github" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.social_links.linkedin }}" title="Connect with me on LinkedIn" target="_blank"><i class="fa fa-lg fa-linkedin" aria-hidden="true"></i></a></li>
         </ul>
      </nav>
   </div> <!-- col -->
</div> <!-- row -->
