@include color-mode(light) {
    .bg-body-auto,
    .update-notice > blockquote {
      background-color: var(--bs-body-bg);
    }

    .bg-light-dark,
    blockquote {
      background-color: $gray-100;
    }

    .text-light-dark,
    blockquote {
      color: $gray-800;
    }
}

@include color-mode(dark) {
    .bg-body-auto,
    .update-notice > blockquote {
      background-color: var(--bs-body-bg);
    }

    .bg-light-dark,
    blockquote {
      background-color: $gray-800
    }

    .text-light-dark,
    blockquote {
      color: $gray-100;
    }
}

body p {
  padding: 0.25rem 0rem 0.25rem 0rem;
}

code {
  background-color: $code-bg-color;
  border-radius: $code-border-radius;
  padding: 2px;
  font-weight: bolder;
}

pre {
  code {
    border: none;
    font-weight: normal;
  }
}

a:link,
a:active,
a:visited,
h1 > a:link,
h1 > a:active,
h1 > a:visited {
  text-decoration-style: dotted;
}

h1, h2, h3, h4, h5 {
  a {
    text-decoration: none;
  }
}

a:link, a:hover, a:active, a:visited {
  code {
    color: $code-color;
    text-decoration: none;
  }
}

blockquote {
  margin-left: 1.5rem;
  margin-right: 2.5rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border-left: 2px solid $secondary;

  font-size: 1rem;

  a:link,
  a:active,
  a:visited,
  a:hover {
    color: inherit;
  }
}

.branded {
  font-family: $font-brand;
}

.img-resume {
  width: 85px;
  height: 85px;
}

.post-excerpt p {
  margin-bottom: 0rem;
}

.footer-icon {
  font-size: 1rem;
}
