
body p {
  padding: 0.25rem 0rem 0.25rem 0rem;
}

header {
  p {
    font-size: 0.85rem;
    display: inline-block;
    padding-left: 1.2rem;
  }

  code {
    background-color: $body-bg;
    font-weight: bolder;
  }
}

h1, h2, h3, h4, h5 {
  code {
    background-color: $body-bg;
    font-weight: bolder;
  }
}

code {
  color: $color-code;
  background-color: $color-code-bg;
  border-radius: 3px;
  padding: 3px;
}

a:link,
a:active,
a:visited,
h1 > a:link,
h1 > a:active,
h1 > a:visited {
  text-decoration-style: dotted;
}

h1, h2, h3, h4, h5 {
  a {
    text-decoration: none;
  }
}

a:link, a:hover, a:active, a:visited {
  code {
    color: $color-code;
  }
}

blockquote {
  color: $secondary;
  background-color: $light;

  margin-left: 1.5rem;
  margin-right: 2.5rem;

  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border-left: 2px solid $secondary;

  p {
    font-size: 1rem;
  }

  a:link,
  a:active,
  a:visited,
  a:hover {
    color: inherit;
  }
}

.branded {
  font-family: $font-brand;
}

.img-resume {
  width: 85px;
  height: 85px;
}

.post-excerpt p {
  margin-bottom: 0rem;
}

.footer-icon {
  font-size: 1rem;
}
