
@media (max-width: 667px) {
    header {
        h1 {
            font-size: 49px;
        }
        h2 {
            font-size: 13px;
        }
    }
}

@media (max-width: 320px) {
    header {
        h1 {
            font-size: 42px;
        }
        h2 {
            font-size: 11px;
        }
    }
}
