
.img-resume {
  width: 75px;
  height: 75px;
}

.alert h3 {
  font-size: 18px;
}

.table-date-column {
  width: 100px;
}

.post-share-subscribe {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.post-share-subscribe p {
  margin: 0px;
  padding: 0px;
}

blockquote {
  color: $color-gray;
  padding: 0rem 1rem 0rem 1.5rem;
  border-left: 3px solid #666;
}

blockquote p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}
