
.img-resume {
  width: 85px;
  height: 85px;
}

blockquote {
  color: $secondary;
  background-color: $light;

  margin-left: 1.5rem;
  margin-right: 2.5rem;

  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border-left: 2px solid $secondary;

  p {
    font-size: 15px;
  }

  a:link,
  a:active,
  a:visited,
  a:hover {
    color: inherit;
  }
}
