
.img-resume {
  width: 75px;
  height: 75px;
}

.alert h3 {
  font-size: 18px;
}

.table-date-column {
  width: 100px;
}

.post-share-subscribe {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
}

.post-share-subscribe p {
  margin: 0px;
  padding: 0px;
}

blockquote {
  color: $color-gray;
  padding-left: 1.1rem;
  border-left: 1px solid $color-gray;
}

blockquote {
  p {
    font-size: 15px;
  }

  .blockquote-source {
    p {
      font-size: 13px;
    }
  }

  mark {
    color: $color-gray;
  }
}
