---
layout: standalone
title: Writing
---

<p>
I mostly write about Swift, Objective-C, iOS, open source, and other software development topics.
Sometimes I write about the ethics of tech, labor, and politics.
I also write personal essays and notes on what I'm currently reading.
</p>

<!-- categories: software-dev, essays, reading-notes -->

<div class="p-2 my-4 bg-light border-top border-bottom">
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == site.blog_url %}active{% endif %}" href="{% link blog.md %}">
            <i class="bi bi-asterisk" role="img" aria-label="all"></i> all
        </a>
    </li>

    {% for category in site.categories %}
    {% assign category_name = category[0] %}
    {% assign category_icon = site.data.categoryIcons[category_name] %}
    {% assign category_title = category_name | replace: '-', ' ' %}
    {% assign category_url = site.categories_url | append: category_name | append: '/' %}
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == category_url %}active{% endif %}" href="{{ category_url }}">
            <i class="bi {{ category_icon }}" role="img" aria-label="{{ category_title }}"></i> {{ category_title }}
        </a>
    </li>
    {% endfor %}

    {% capture updated_link %}{% link recently-updated.md %}{% endcapture %}
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == updated_link %}active{% endif %}" href="{{ updated_link }}">
            <i class="bi bi-clock-fill" role="img" aria-label="recently updated"></i> updated
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1" href="{% link tags.md %}">
            <i class="bi bi-tags-fill" role="img" aria-label="tags"></i> tags
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1" href="{% link search.md %}">
            <i class="bi bi-search" role="img" aria-label="search"></i> Search
        </a>
    </li>
</ul>
</div>

{% if page.category == null %}
    {% assign post_list = site.posts %}
{% elsif page.category == 'recently-updated' %}
    {% assign post_list = site.posts | where_exp: "post", "post.date-updated != null" | sort: "date-updated" %}
{% else %}
    {% assign post_list = site.categories[page.category] %}
{% endif %}

<div>
{% if page.category == 'recently-updated' %}
    {% for post in post_list reversed %}
        <article>
        {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
        </article>
    {% endfor %}
{% else %}
    {% for post in post_list %}
        <article>
        {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
        </article>
    {% endfor %}
{% endif %}
</div>
