---
layout: standalone
title: Writing
---

<p>
I mostly write about Swift, Objective-C, iOS, open source, and other software development topics.
Sometimes I write about the ethics of tech, labor, and politics.
I also write personal essays and notes on what I'm currently reading.
</p>

<!-- categories: software-dev, essays, reading-notes -->

<div class="p-2 my-4 bg-light border-top border-bottom">
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == '/blog/' %}active{% endif %}" href="{% link blog.md %}">
            <i class="bi bi-asterisk" role="img" aria-label="all"></i> all
        </a>
    </li>

    {% for category in site.data.categories %}
    {% assign url = '/blog/' | append: category.name | append: '/' %}
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == url %}active{% endif %}" href="{{ url }}">
            <i class="bi {{ category.icon }}" role="img" aria-label="{{ category.title }}"></i> {{ category.title }}
        </a>
    </li>
    {% endfor %}

    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1" href="{% link tags.md %}">
            <i class="bi bi-tags-fill" role="img" aria-label="tags"></i> tags
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1" href="{% link search.md %}">
            <i class="bi bi-search" role="img" aria-label="search"></i> Search
        </a>
    </li>
</ul>
</div>

{% if page.category == null %}
    {% assign post_list = site.posts %}
{% elsif page.category == 'recently-updated' %}
    {% assign post_list = site.posts | where_exp: "post", "post.date-updated != null" | sort: "date-updated" %}
{% else %}
    {% assign post_list = site.categories[page.category] %}
{% endif %}

<div>
{% if page.category == 'recently-updated' %}
    {% for post in post_list reversed %}
        {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
    {% endfor %}
{% else %}
    {% for post in post_list %}
        {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
    {% endfor %}
{% endif %}
</div>
