---
layout: standalone
title: Writing
---

<p>
I mostly write about Swift, Objective-C, iOS, open source, and other software development topics.
Sometimes I write about the ethics of tech, labor, and politics.
I also write satire pieces, personal essays, and notes on what I'm currently reading.
</p>

<div class="p-2 my-4 bg-light-dark border-top border-bottom">
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == site.blog_url %}active{% endif %}"
            href="{% link blog.md %}"
            title="{{ site.posts | size }} posts">
            <i class="bi bi-asterisk" role="img" aria-label="all"></i> all
        </a>
    </li>

    {% for category in site.categories %}
    {% assign category_name = category[0] %}
    {% assign category_icon = site.data.categoryIcons[category_name] %}
    {% assign category_title = category_name | replace: '-', ' ' %}
    {% capture category_url %}{{ category_name | category_url }}{% endcapture %}
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == category_url %}active{% endif %}"
            href="{{ category_url }}"
            title="{{ category[1] | size }} posts">
            <i class="bi {{ category_icon }}" role="img" aria-label="{{ category_title }}"></i> {{ category_title }}
        </a>
    </li>
    {% endfor %}

    {% assign updated_posts = site.posts | where_exp: "post", "post.date-updated != null" | sort: "date-updated" %}

    {% capture updated_link %}{% link recently-updated.md %}{% endcapture %}
    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1 {% if page.url == updated_link %}active{% endif %}"
            href="{{ updated_link }}"
            title="{{ updated_posts | size }} posts">
            <i class="bi bi-clock-fill" role="img" aria-label="recently updated"></i> updated
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1" href="{% link tags.md %}">
            <i class="bi bi-tags-fill" role="img" aria-label="tags"></i> tags
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1" href="{% link archive-home.html %}">
            <i class="bi bi-archive-fill" role="img" aria-label="archive"></i> archive
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link px-2 mx-1 py-1" href="{% link search.md %}">
            <i class="bi bi-search" role="img" aria-label="search"></i> search
        </a>
    </li>
</ul>
</div>

{% if page.category == null %}
    {% assign post_list = site.posts %}
{% else %}
    {% assign post_list = site.categories[page.category] %}
{% endif %}

<div>
{% if page.category == 'recently-updated' %}
    {% for post in updated_posts reversed %}
        <!-- WORKAROUND for bug (?) in `limit:`

        The `updated_posts` variable (above) is filtered and sorted by `post.date-updated`.
        Previously, this loop used `limit: site.feeds.limit` to limit the total number of posts shown,
        similar to how `post_list` is handled below.

        However, even though we are using `reversed` to sort by the most recently updated post first,
        `limit:` appears to limit the count in-order using the *non-reversed* array.
        Thus, you end up with the first `N` updated posts rather than the `N` most recent.

        To fix, we need to manually check the loop index against our feed limit, then break out of the loop.
        -->
        {% if forloop.index > site.feeds.limit %} {% break %} {% endif %}
        <article>
        {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
        </article>
    {% endfor %}
{% else %}
    {% for post in post_list limit: site.feeds.limit %}
        <article>
        {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
        </article>
    {% endfor %}
{% endif %}
</div>


<div class="text-center">
    <a class="btn bg-light-dark text-light-dark" href="{% link archive-home.html %}" role="button">
        Read more in the archive &nbsp;<i class="bi bi-arrow-right-circle-fill" role="img" aria-label="see more"></i>
    </a>
</div>
