---
layout: default
---

{% assign full_page_url = site.url | append: page.url %}

{% assign issue_title_params = '?title=' | append: page.title %}
{% assign issue_body_params = '&body=Comments, Questions, Feedback: ' | append: full_page_url %}
{% assign issue_label_params = '&labels=blog%20comments%20%26%20questions' %}
{% assign issue_all_params = issue_title_params | append: issue_body_params | append: issue_label_params %}

{% assign open_issue_url = site.links.issue | append: issue_all_params %}

<article>
    <h1 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h1>

    {% if page.subtitle %}
        <h2 class="post-subtitle">{{ page.subtitle }} <small class="post-date">{{ page.date | date_to_string }}</small></h2>
    {% else %}
        <h2 class="post-date-subtitle post-date">{{ page.date | date_to_string }}</h2>
    {% endif %}

    {% if page.date-updated %}
        <small class="text-warning bg-warning"><strong>Updated: {{ page.date-updated }}</strong></small>
    {% endif %}

    <div class="post-content">
        {{ content }}
    </div> <!-- post-content -->
</article>

{% include post_share_subscribe.html %}
