---
layout: standalone
title: Writing by tag
---

<div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link px-2 py-1" href="{% link blog.md %}">
                <i class="bi bi-bookmark-fill" role="img" aria-label="categories"></i> categories
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-2 py-1" href="{% link archive.md %}">
                <i class="bi bi-archive-fill" role="img" aria-label="archive"></i> archive
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-2 py-1" href="{% link search.md %}">
                <i class="bi bi-search" role="img" aria-label="search"></i> Search
            </a>
        </li>
    </ul>
</div>

<div class="p-2 mt-2 mb-4 bg-light border-top border-bottom">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link px-2 py-1 {% if page.url == site.tags_url %}active{% endif %}" href="{% link tags.md %}">
                <i class="bi bi-asterisk" role="img" aria-label="all"></i> all
            </a>
        </li>

        {% assign sorted_tags = site.tags | sort %}

        {% for tag in sorted_tags %}
            {% assign url = site.tags_url | append: tag[0] | append: '/' %}
            <li class="nav-item">
                <a class="nav-link px-2 py-1 {% if page.url == url %}active{% endif %}" href="{{ url }}">
                    <i class="bi bi-tag-fill" role="img" aria-label="{{ tag[0] }}"></i> {{ tag[0] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% if page.tag == null %}
    {% assign post_list = site.posts %}
{% else %}
    {% assign post_list = site.tags[page.tag] %}
{% endif %}

<div>
{% for post in post_list %}
    <article>
    {% include post_entry.html post_entry=post display_excerpt=true display_categories=false display_tags=false %}
    </article>
{% endfor %}
</div>
