# GitHub Actions Virtual Environments
# https://github.com/actions/virtual-environments/

name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  main:
    name: Build Site
    runs-on: ubuntu-latest
    steps:
      - name: ruby versions
        run: |
          ruby --version
          gem --version

      - name: git checkout
        uses: actions/checkout@v4

      # https://github.com/ruby/setup-ruby
      - name: ruby setup
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: jekyll build
        run: bundle exec jekyll build --verbose --trace
